html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}   
ul {
  margin: 0;
  height: 50px;
}
.active {
  display: inline-block;
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 0, 0.637);
}

li {
  display: inline-block;
  height: 30px;
  margin-left: 20px;
}
li a {
  text-decoration: none;
  color: white;
}

nav {
  background-color: rgba(0, 0, 0, 0.83);
}

img {
  width: 450px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #f4f5f7;
  padding: 10px;

}

.grid-item {
  
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}
.footer{
  background-color: rgba(139, 139, 20, 0.586);
  color: rgb(233, 220, 220);
  margin: 0;
  text-align: right;
  padding-right: 20px;
}